body {
    background-color: #f9fafc;
    margin: 60px;
  }
  
  .red {
    background-color: #e46e80;
    width: 500px;
    height: 500px;
    position: relative;
  }
  
  .green {
    background-color: #32b9c1;
    position: absolute;
    inset: 10px;
  }
  
  
  .blue {
    background-color: #5195ee;
    height: 100px;
    position: absolute;
    bottom: 40px;
    right: 10px;
    left: 10px;
  }
  
  .orange {
    background-color: #f18575;
    height: 100px;
  }  